# {{ ansible_managed }}

# Includes DSO modules
#Include /etc/proftpd/modules.conf

# Set off to disable IPv6 support which is annoying on IPv4 only boxes.
UseIPv6                         off

ServerName                      "{{ proftpd_server_name }}"
ServerType                      standalone
DeferWelcome                    off

MultilineRFC2228                on
DefaultServer                   on
ShowSymlinks                    on

TimeoutNoTransfer               300
TimeoutStalled                  90
TimeoutIdle                     450

DisplayLogin                    welcome.msg
ListOptions                     "-l"

DenyFilter                      \*.*/
UseReverseDNS on

# Close users into their home dirs
DefaultRoot                     ~

# using only virtual users, no shell required
RequireValidShell               off

# disable capabilities
CapabilitiesEngine              off

# disable system users
AuthOrder                       mod_auth_file.c
AuthUserFile                    {{ proftpd_users_list }}
AuthGroupFile                   {{ proftpd_groups_list }}

# Port 21 is the standard FTP port.
Port                            {{ proftpd_port }}

# In some cases you have to specify passive ports range to by-pass
# firewall limitations. Ephemeral ports can be used for that, but
# feel free to use a more narrow range.
PassivePorts                  {{ proftpd_passive_ports }}

# If your host was NATted, this option is useful in order to
# allow passive tranfers to work. You have to use your public
# address and opening the passive ports used on your firewall as well.
# MasqueradeAddress             1.2.3.4

MaxInstances                    20

# Set the user and group that the server normally runs at.
User                            {{ proftpd_user }}
Group                           {{ proftpd_group }}

# Umask 022 is a good standard umask to prevent new files and dirs
# (second parm) from being group and world writable.
Umask                           022  022
# Normally, we want files to be overwriteable.
AllowOverwrite                  on

# Uncomment this if you are using NIS or LDAP to retrieve passwords:
# PersistentPasswd              off

# Be warned: use of this directive impacts CPU average load!
# Uncomment this if you like to see progress and transfer rate with ftpwho
# in downloads. That is not needed for uploads rates.
#
# UseSendFile                   off

<IfModule mod_ident.c>
IdentLookups off
</IfModule>

# create homedirs on demand
CreateHome on
DirFakeUser     on ~
DirFakeGroup    on ftp

TransferLog /var/log/proftpd/xferlog
SystemLog   /var/log/proftpd/proftpd.log


{% if proftpd_with_tls|default(True) %}
Include {{ proftpd_tls_config }}
{% else %}
<IfModule mod_tls.c>
# disable TLS
TLSEngine off
</IfModule>
{% endif %}

<IfModule mod_quota.c>
QuotaEngine on
</IfModule>


# Delay engine reduces impact of the so-called Timing Attack described in
# http://security.lss.hr/index.php?page=details&ID=LSS-2004-10-02
# It is on by default. 
<IfModule mod_delay.c>
DelayEngine on
</IfModule>

<IfModule mod_ctrls.c>
ControlsEngine        on
ControlsMaxClients    2
ControlsLog           /var/log/proftpd/controls.log
ControlsInterval      5
ControlsSocket        /var/run/proftpd/proftpd.sock
</IfModule>

<IfModule mod_ctrls_admin.c>
AdminControlsEngine off
</IfModule>


# vim: syntax=apache
